################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApiMTPMicrositio/.vs
/WebApiMTPMicrositio/bin
/WebApiMTPMicrositio/obj
/MicrositioMTP/MTPMicrositio.Entities/bin
/MicrositioMTP/MTPMicrositio.Entities/bin
/MicrositioMTP/MTPMicrositio.DAL/bin
/MicrositioMTP/MTPMicrositio.DAL/obj
/MicrositioMTP/MTPMicrositio.BLL/bin
/MicrositioMTP/MTPMicrositio.BLL/obj